.container-content {
    margin-left: 30px;
  }

.container-img {
  float: left;
  }

.container-btn {
  background-color: #04AA6D !important;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px 18px;
}
