{% extends "base.html" %}

{% load static %}

{% block title %}Витрина{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1>Витрина</h1>
    </div>

    <div class="sort-block">
      <span class="sort-item">Сортировать по:</span>
      <a class="sort-item" href="?sort=brand">по производителю</a>
      <a class="sort-item" href="?sort=alphabet">по алфавиту</a>
    </div>

    <div class="content">
      {% for phone in phones %}
        <div class="phone">
          <a class="name" href="catalog/model/{{phone.id}}">Название: {{phone.name}}</a>
          <div class="specs">Характеристики: {{ phone.specs }}</div>
          <img height="400" src="{{ phone.image }}" alt="{{ phone.name }}"/>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}