{% extends "base.html" %}

{% load static %}

{% block title %}Витрина{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1>Витрина</h1>
    </div>

    <div class="sort-block">
      <span class="sort-item">Сортировать по:</span>
      <a class="sort-item" href="?sort=brand">по производителю</a>
      <a class="sort-item" href="?sort=alphabet">по алфавиту</a>
    </div>

    <div class="content">
      {% for phone in phones %}
        <div class="phone">
          <a class="name" href="catalog/model/{{phone.id}}">Название: {{phone.name}}</a>
          <div class="specs">Характеристики: {{ phone.specs }}</div>
          <img height="400" src="{{ phone.image }}" alt="{{ phone.name }}"/>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if phones.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ phones.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ phones.number }} of {{ phones.paginator.num_pages }}.
        </span>

        {% if phones.has_next %}
            <a href="?page={{ phones.next_page_number }}">next</a>
            <a href="?page={{ phones.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}