{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="header">
    <h1>{{phone.name}}</h1>
  </div>
    <div class = "container">
      <img height="400" src="\{{phone.image}}" class="container-img" alt="Изображение телефона"/>
    <div class="cotainer-content">
    <p><h1 = containter-name>Вот смотрите, каков:</h1></p>
    <p>{{phone.description}}</p></div>
    <a target="_blank" href="/catalog/model/{{phone.id}}&buy" class="container-btn">BUY NOW</a>
  </div>
    
 </div>
 {% endblock %}