{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="header">
    <h1>{{phone.name}}</h1>
  </div>
  <div class = "container__content">
      <img height="400" src="\{{phone.image}}" class="container__img" alt="Изображение телефона"/>
      <div class="cotainer-content">
        <p><h1 = containter-name>Вот смотрите, каков:</h1></p>
        <p>{{phone.description}}</p></div>
        <a target="_self" href="/catalog/model/{{phone.id}}&buy" class="btn btn-dark btn-lg">BUY NOW</a>
      </div>
  </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h5>{{ reviews.count }} comments</h5>

        {% for review in reviews %}
        <div class="reviews" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ review.user }}
            <span class=" text-muted font-weight-normal">
              {{ review.date }}
            </span>
          </p>
          {{ review.text | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <h3>Leave a review</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ review_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
 {% endblock %}